<div class="modal-header">
  <h4 class="modal-title">Choisissez votre profil :</h4>
  <img class="btnClose" (click)="activeModal.dismiss('Cross click')" src="../../../assets/img/close.png" alt="Icone de fermeture">
</div>

<div class="modal-body">
  <button #col class="btn" (click)="activeModal.close('Close click'); statusSelected(col.innerHTML)" routerLink="/collaborateur">Collaborateur</button>
  <button #cho *ngIf="this.roleChauffeur" class="btn"
    (click)="activeModal.close('Close click'); statusSelected(cho.innerHTML)" routerLink="/chauffeur">Chauffeur</button>
  <button #adm *ngIf="this.roleAdmin" class="btn"
    (click)="activeModal.close('Close click'); statusSelected(adm.innerHTML)" routerLink="/administrateur">Administrateur</button>
</div>