<div class="modal-header">
    <h4 class="modal-title">Choisissez votre profil :</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <button class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Collaborateur</button>
  <button *ngIf="this.roleChauffeur" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Chauffeur</button>
  <button *ngIf="this.roleAdmin" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Administrateur</button>
  </div>