<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="logo">
      <img src="../../assets/img/logoRow.png" alt="Logo">
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="collaborateur/reservations">Réservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="collaborateur/annonces">Annonces</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="collaborateur/statistiques">Statistiques</a>
      </li>
    </ul>
    <div class="deco">
      <p>Hello {{collegueCo.nom}} !</p>
      <img src="../../assets/img/deco.png" alt="Icone de déconnexion" (click)="seDeconnecter()">
    </div>
  </div>
</nav>

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="chauffeur/planning">Planning <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="chauffeur/occupation">Occupation</a>
        </li>
      </ul>
      <button class="btn btn-danger" (click)="seDeconnecter()">Se déconnecter</button>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="administrateur/chauffeurs">Chauffeurs <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="administrateur/statistiques">Statistiques</a>
        </li>
      </ul>
      <button class="btn btn-danger" (click)="seDeconnecter()">Se déconnecter</button>
    </div>
  </nav>
-->