@font-face {
    font-family: Pacifico;
    src: url('../../../assets/fonts/Pacifico-Regular.ttf') format("opentype");
  }

.titreSection {
    font-family: 'Pacifico';
    width: 100%;
    text-align: center;
    margin-top: 50px;
}