<div class="titreSection">
    <h1>Publier une annonce</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form #form="ngForm">
                <h2>Itinéraire</h2>
                <div class="form-group" [ngClass]="{'was-validated' : depart.dirty}">
                    <input #depart="ngModel" required [(ngModel)]=covoiturageFormulaire.depart
                        [ngbTypeahead]="this.search" name="depart" type="text" class="form-control"
                        placeholder="Départ *">
                    <p *ngIf="depart.dirty && depart.invalid" class="invalid-feedback">
                        L'adresse de départ est obligatoire.
                    </p>
                </div>
                <div class="form-group" [ngClass]="{'was-validated' : destination.dirty}">
                    <input #destination="ngModel" required [(ngModel)]=covoiturageFormulaire.destination
                        [ngbTypeahead]="this.search1" name="destination" type="text" class="form-control"
                        placeholder="Destination *">
                    <p *ngIf="destination.dirty && destination.invalid" class="invalid-feedback">
                        L'adresse de destination est obligatoire.
                    </p>
                </div>
                <h2>Véhicule</h2>
                <div class="form-group" [ngClass]="{'was-validated' : marqueVoiture.dirty}">
                    <input #marqueVoiture="ngModel" required [(ngModel)]=covoiturageFormulaire.marqueVoiture
                        name="marqueVoiture" type="text" class="form-control" placeholder="Marque du véhicule *">
                    <p *ngIf="marqueVoiture.dirty && marqueVoiture.invalid" class="invalid-feedback">
                        La marque du véhicule est obligatoire.
                    </p>
                </div>
                <div class="form-group" [ngClass]="{'was-validated' : modeleVoiture.dirty}">
                    <input #modeleVoiture="ngModel" required [(ngModel)]=covoiturageFormulaire.modeleVoiture
                        name="modeleVoiture" type="text" class="form-control" placeholder="Modèle du véhicule *">
                    <p *ngIf="modeleVoiture.dirty && modeleVoiture.invalid" class="invalid-feedback">
                        Le modèle du véhicule est obligatoire.
                    </p>
                </div>
                <div class="form-group" [ngClass]="{'was-validated' : place.dirty}">
                    <input #place="ngModel" required [(ngModel)]=covoiturageFormulaire.place name="place" type="number"
                        min="1" max="20" class="form-control" placeholder="Nombre de places disponibles *">
                    <p *ngIf="place.dirty && place.invalid || place.value > 20 || place.value < 1"
                        class="invalid-feedback">
                        Le nombre de places disponibles est obligatoire et doit être compris entre 1 et 20.
                    </p>
                </div>

                <h2>Date et horaire de départ</h2>
                <div class="row">
                    <div class="form-group col-4" [ngClass]="{'was-validated' : date.dirty}">
                        <input #date="ngModel" required [(ngModel)]=covoiturageFormulaire.date name="date" type="date"
                            class="form-control" [min]="this.todayString">
                        <p *ngIf="place.dirty && place.invalid" class="invalid-feedback">
                            La date de départ est obligatoire.
                        </p>
                    </div>
                    <div class="form-group col-4" [ngClass]="{'was-validated' : horaire.dirty}">
                        <input #horaire="ngModel" type="time" required [(ngModel)]=covoiturageFormulaire.horaire
                            name="horaire" class="form-control">
                        <p *ngIf="horaire.dirty && horaire.invalid" class="invalid-feedback">
                            L'horaire de départ est obligatoire.
                        </p>
                    </div>
                </div>
                <button class="btn btn-warning" [disabled]="form.invalid" (click)="afficherModal()">Publier</button>
            </form>
        </div>
    </div>
</div>