<h1>Publier une annonce</h1>
<h2>Itinéraire</h2>
<form>
    <div class="form-group">
        <input type="text" class="form-control" id="depart" placeholder="Départ">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="destination" placeholder="Destination">
    </div>
</form>
<h2>Véhicule</h2>
<form>
    <div class="form-group">
        <label for="immatriculationInput">Immatriculation</label>
        <input type="text" class="form-control" id="immatriculation" placeholder="Immatriculation">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="marque" placeholder="Marque">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="modele" placeholder="Modele">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="nbPlacesDisponibles" placeholder="Nombre de places disponibles">
    </div>
</form>
<h2>Date et horaire</h2>
<form>
    <div class="form-group">
        <input type="datetime-local" class="form-control" id="dateHoraire">
    </div>
</form>