<a routerLink="../"><<< Retour à la liste</a>

<div class="titreSection">
    <h1>Réserver un véhicule</h1>
</div>


<div class="contAll">
    <button type="button" class="btn btn-link" (click)="deroulerCovoit()"><h3>Covoiturage</h3></button>
    <div *ngIf="covoitDeroule">
        <form  #etatForm="ngForm">
            <div class="form-row">
              <div class="form-group col-6">
                <label for="depart">Adresse de départ :</label>
                <input type="text" class="form-control"[(ngModel)]="depart" name="depart" (keyup)="afficherListe()">
              </div>
              <div class="form-group col-6">
                <label for="destination">Adresse de destination :</label>
                <input type="tet" class="form-control" id="destination">
            </div>
            </div>
            <div class="form-group col-6">
              <label for="depart">Date de départ :</label>
              <input required ngModel name="heureDepart" type="date" class="form-control" id="heureDepart">
          </div>
          </form>
          <div class="row">
            <div class="col">
              Durée du trajet : (??)
            </div>
            <div class="col">
              Distance : (??)
            </div>
          </div>
        </div>
</div>

<div class="contAll">
    <button type="button" class="btn btn-link" (click)="deroulerSociete()"><h3>Véhicule de société</h3></button>
    <div *ngIf="societeDeroule">
      <div>
        <h4>Réservations en cours : </h4>
        <div class="alert alert-warning" *ngIf="list.length===0">Aucune réservation en cours</div>
        <table class="table" *ngIf="list.length!==0">
            <thead class="thead-light">
                <tr>
                    <th>Départ</th>
                    <th>Destination</th>
                    <th>Date/heure</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let covoit of list">
                    <td>{{covoit.depart | titlecase}}</td>
                    <td>{{covoit.arrive | titlecase}}</td>
                    <td>{{covoit.date | date:'dd/MM/yyyy'}} {{covoit.heureDepart}}</td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div>
        <h4>Historique : </h4>
        <div class="alert alert-warning" *ngIf="listHist.length===0">Aucune réservation n'est dans votre historique</div>
        <table class="table" *ngIf="listHist.length!==0">
            <thead  class="thead-light">
                <tr>
                    <th>Départ</th>
                    <th>Destination</th>
                    <th>Date/heure</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let covoit of listHist | paginate: { itemsPerPage: 5, currentPage: p }" >
                    <td>{{covoit.depart | titlecase}}</td>
                    <td>{{covoit.arrive | titlecase}}</td>
                    <td>{{covoit.date | date:'dd/MM/yyyy'}} {{covoit.heureDepart}}</td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls  *ngIf="listHist.length!==0" class="d-flex justify-content-end" (pageChange)="p = $event"></pagination-controls>
    </div>
    </div>
</div>

<div class="contAll">
    <button type="button" class="btn btn-link" (click)="deroulerChauffeur()"><h3>Véhicule avec chauffeur privé</h3></button>
    <div *ngIf="chauffeurDeroule">bkfbzjamvbm</div>
</div>
