@font-face {
    font-family: Pacifico;
    src: url('../../../../assets/fonts/Pacifico-Regular.ttf') format("opentype");
  }

.titreSection {
    font-family: 'Pacifico';
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.contAll {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.67);
}

.btn-link{
    color: black;
}